@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap%27');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body {
    font-family: 'Prompt';
    background-color: lightgray;
    /*background-image: url("images/1.jpg");*/
}

.navbar {
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
}

.navbar>div {
    background-color: lightgray;
    margin: 10px;
    padding: 5px;
    /*font-size: 20px;*/
    border-radius: 10px;
}

/*.navbar a:hover {
    background-color: blue;
    color: white;
}*/

a:hover {
    color: yellow;
}

/*a:link {
    color: orange;
  }*/

.divclass1 {
    background-color: whitesmoke;
    border-radius: 10px;
}

.divclass2 {
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
}

.divclass2>div {
    background-color: lightgray;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    /*flex-grow: 20;*/
}
.input {
    background-color: blue;
}

.CenterText {
    background-color: whitesmoke;
}

.CenterText>p {
    text-align: center;
}